@import "../../../../variables";
@import '../../../../mixins';

.comment{
  color: $light-text;
  margin-bottom: 20px;
  &__btngroup{
    button{
      margin: 10px;
      width: 250px;
      height: 30px;
      @include button;
    }
  }
}