@import '../../variables';
@import '../../mixins';

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3c3e3e;
  z-index: 2;

  transition: $fst-transition;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2{
    font-size: 120px;
    color: $text;
    @include letterAccent;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(3,3,3,0.2));
  }
}

.invisible{
  opacity: 0;
  pointer-events: none;
}
