@import './variables.scss';

@mixin textOverflow($line-clamp: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}

@mixin accentText {
  color: $accent;
  text-shadow: $accent-shadow;
}

@mixin letterAccent {
  &::first-letter{
	@include accentText;
  }
}

@mixin button {
  border-radius: 10px;
  border: $thin-accent;
  color: $text;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  user-select: none;

  &::before {
	content: '';
	width: 100%;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background: $accent;
	border-radius: 50% 50% 0 0;
	transition: $fst-transition;
	z-index: -1;
  }

  &:disabled{
	cursor: default;
	pointer-events: none;
	color: $light-text;
	border: $thin;
  }

  &:hover::before {
	height: 170%;
  }

  &:focus-visible{
	color: $accent;
	filter: drop-shadow($accent-shadow);
  }
}

@mixin desktop{
  @media screen and (max-width: 1200px){
	@content
  }
}
@mixin laptop{
  @media screen and (max-width: 992px){
	@content
  }
}
@mixin tablet{
  @media screen and (max-width: 768px){
	@content
  }
}
@mixin phone{
  @media screen and (max-width: 480px) {
	@content
  }
}
@mixin sm-phone{
  @media screen and (max-width: 320px) {
	@content
  }
}